<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
</head>
<body>

<h2>Product List</h2>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.name}"></td>
        <td th:text="${prod.price}"></td>
        <td th:text="${prod.category}"></td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/}">Back to Dashboard</a>

</body>
</html>